:root {
  --blue: #1363df;
  --dark_blue: #06283d;
  --cyan: #47b5ff;
  --light_blue: #dff6ff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #ffffff;
  margin: 2%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #e9eefb;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
}

.container2 {
  display: flex;
}

.navbar {
  background-color: rgba(20, 108, 148, 0.9);
  width: 85%;
  position: absolute;
  margin-left: 15%;
  height: 10vh;
  z-index: 1;
}
.logo {
  margin-top: 50px;
  margin-left: 40px;
}
.side-panel {
  position: absolute;
  flex-direction: column;
  background-color: #146c94;
  width: 15%;
  height: 1000px;
  z-index: 2;
}
.admin_name {
  position: absolute;
  margin-left: 5vw;
  margin-top: 3vh;
  font-size: 26px;
  color: #fff;
}
.logout {
  margin-left: 70vw;
  margin-top: 3vh;
  font-size: 26px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.logout:hover {
  color: red;
}

.side-title {
  padding: 10vh 5vh;
  font-size: 3rem;
  color: #06283d;
}

.passenger-btn {
  text-align: center;
  margin-top: 15vh;
  padding: 2vh;
  font-size: 1.8rem;
  color: #fff;
}

.driver-btn {
  text-align: center;
  margin-top: 5vh;
  padding: 2vh;
  font-size: 1.8rem;
  color: #fff;
}

.users-btn:active {
  background-color: #6cc1ff;
  color: #6cc1ff;
}

.passenger-btn:hover,
.products-btn:hover,
.driver-btn:hover {
  background-color: #06283d;
  color: #47b5ff;
}
.products-btn {
  padding: 5%;
  margin-top: 3vh;
  padding-left: 5vw;
  font-size: 1.5vw;
}
table {
  width: 70vw;
  margin-left: 25vw;
  margin-top: 8vh;
}
th,
td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  font-size: 18px;
  font-weight: bold;
}
td {
  font-size: 16px;
  vertical-align: middle;
}
tr:hover {
  background-color: #1363df;
}

.content {
  display: inline-block;
}

.content-title {
  font-size: 64px;
  margin-left: 45vw;
  margin-top: 20vh;
}

a {
  text-decoration: none;
  color: black;
}

.delete {
  padding: 10px;
  background-color: #3e54ac;
  margin-right: 10px;
  border-radius: 10px;
}

.edit {
  padding: 10px;
  background-color: #bface2;
  border-radius: 10px;
}
.add_product_button {
  margin-left: 70%;
  padding: 10px;
  background-color: #655dbb;
  border-radius: 10px;
}

.home {
  padding: 10px;
  background: #655dbb;
  border-radius: 10px;
}

/* Registeration page */

.lgn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.login-container {
  border-radius: 40px;
  background-color: #146c94;
  width: 30%;
  padding: 50px;
  box-sizing: border-box;
  height: 60vh;
}
.register-title,
.login-title {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.register-form {
  margin-top: 10%;
}
.register-form input,
.login-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 16px;
}
.register-link {
  margin-top: 3%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  flex-direction: column;
}

.name-container {
  display: flex;
  justify-content: space-between;
}
.login-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-button {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 15px;
  border: none;
  background-color: #1395d1;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 10% 0%;
}
.login-button:hover {
  color: black;
  background-color: var(--light_blue);
  border: 1px black solid;
}
.login-form {
  margin-top: 10%;
}

.username_title {
  color: #fff;
  font-weight: bold;
}

.password_title {
  color: #fff;
  font-weight: bold;
}
